@inject NavigationManager MyNavigationManager

@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4" style="background-color: transparent; border:none;">
                <div class="col left">
                @if (MyNavigationManager.Uri != MyNavigationManager.BaseUri)
                {

                    <a href="/">
                        <button class="btn btn-danger" style="">Back</button>
                    </a>
                }
                </div>
            <div class="col">
                <h1 style="text-align:center;margin:10px auto; font-family:FantasyFont51; color:white;font-size:xxx-large">Dnd Mapper</h1>
            </div>


            <div class="col right">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>
        </div>

        <DndMapBlazor.Components.TransitionElement></DndMapBlazor.Components.TransitionElement>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
