@inject NavigationManager MyNavigationManager

@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4" style="padding:0px !important">
            @Body
        </article>
    </main>
</div>
