@page "/DMPage"
@using DndMapBlazor.Components.Bord
@using DndMapBlazor.Components.Bord.DM

<div style="width:100%">
    <link rel="stylesheet" href="css/WoodPanels.css" />

    @if (SessionGameMetaData!.Session!.state == Models.SessionEntites.SessionState.setWorld)
    {
        <div class="w-100;" style="text-align:center;margin-top:10px">
            @if (loading)
            {
                <h2>Loading</h2>
                <span class="loader"></span>
            }
            else
            {
                    <InputFile OnChange="LoadWorld" />
            }
        </div>
    }
    else if (SessionGameMetaData!.Session!.state == Models.SessionEntites.SessionState.SetPlayers)
    {
        <DmSetPlayers sessionGameMetaData="SessionGameMetaData" SessionUpdatedCallBack="SessionUpdatedCallBack"></DmSetPlayers>
    }
    else if (SessionGameMetaData!.Session!.state == Models.SessionEntites.SessionState.Settings)
    {
        <DmSettings SessionGameMetaData="SessionGameMetaData" SessionUpdatedCallBack="SessionUpdatedCallBack"/>
    }
    else if (SessionGameMetaData!.Session!.state == Models.SessionEntites.SessionState.Running)
    {
        <DMPlayingBord sessionGameMetaData="SessionGameMetaData" ></DMPlayingBord>
    }

</div>