@page "/DMPage"
@using DndMapBlazor.Components.Bord
@using DndMapBlazor.Components.Bord.DM

<div style="width:100%;">
    <div style="background-image: url('/images/TavernBG.gif'); -webkit-background-size: 100% !important; background-size: 100% !important; position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:-2;filter: blur(5px);"></div>
    @*     <div style="background-image: url('/images/WoodPlanks2.jpg'); -webkit-background-size: 100% !important; background-size: 100% !important; position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:-2;filter: hue-rotate(346deg) brightness(1.3) contrast(1.1) saturate(0.5);background-position-x: -600px;"></div> *@


@*     <link rel="stylesheet" href="css/WoodPanels2.css" /> *@

    @if (SessionGameMetaData!.Session!.state == Models.SessionEntites.SessionState.setWorld)
    {
        <div class="w-100;" style="text-align:center;margin-top:10px">
            @if (loading)
            {
                <h2>Loading</h2>
                <span class="loader"></span>
            }
            else
            {
                    <InputFile OnChange="LoadWorld" />
            }
        </div>
    }
    else if (SessionGameMetaData!.Session!.state == Models.SessionEntites.SessionState.SetPlayers)
    {
        <DmSetPlayers sessionGameMetaData="SessionGameMetaData" SessionUpdatedCallBack="SessionUpdatedCallBack"></DmSetPlayers>
    }
    else if (SessionGameMetaData!.Session!.state == Models.SessionEntites.SessionState.Settings)
    {
        <DmSettings SessionGameMetaData="SessionGameMetaData" SessionUpdatedCallBack="SessionUpdatedCallBack"/>
    }
    else if (SessionGameMetaData!.Session!.state == Models.SessionEntites.SessionState.Running)
    {
        <DMPlayingBord sessionGameMetaData="SessionGameMetaData" ></DMPlayingBord>
    }

</div>