@page "/"
@using DndMapBlazor.Components.Home

<PageTitle>Home</PageTitle>




<div class="container m-1">
    <div style="width:100%;height:100vh; z-index:-2;position: absolute;top: 0;left: 0;overflow:hidden;">
        <div class="Background"></div>
    </div>
    <div class="row buttonRow" style="">
        <a href="DMPage">        
            <ParcamentButton>
                <ContentBody>
                    <Span>Start campagne</Span>
                </ContentBody>
            </ParcamentButton>
        </a>
    </div>

    <div class="row buttonRow" style="100px; filter:saturate(0);">
        <ParcamentButton Reverse="true">
            <ContentBody>
                <Span>Continue campagne</Span>
            </ContentBody>
        </ParcamentButton>
    </div>

    <div class="row buttonRow">
        <a href="WorldBuilder">
            <ParcamentButton Reverse="false">
                <ContentBody>
                    <Span>Create world</Span>
                </ContentBody>
            </ParcamentButton>
        </a>
    </div>


    <div class="row buttonRow">
        <a href="CamaraTestPage">
            <ParcamentButton Reverse="true">
                <ContentBody>
                    <Span>CamaraTester</Span>
                </ContentBody>
            </ParcamentButton>
        </a>
    </div>

</div>



