body::after {
    content: "";
    background-color: black;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}



a {
    padding:0px
}

button {
    border: 0px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

    button:disabled {
        background-color: #E6E6E6;
    }
    button:enabled {
        background-color: #5BA4FC;
    }

    button:enabled:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    button:enabled:active {
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    }





.container {
    padding-top: 100px;
    margin:auto !important;
}

.buttonRow {
    width: 200px;
    margin: 1px auto;
}


.Background {
    width: 106%;
    height: 106%;
    background-image: url("/images/TavernBG.gif");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    background-color: currentcolor;
    z-index: -2;
    filter:blur(10px);
    margin-top:2%;
    margin-left:-3%
}