@page "/"

<PageTitle>Home</PageTitle>


<div class="container m-1">
    <div class="row buttonRow" style="">
        <a href="DMPage">        
            <button>Start campagne</button>
        </a>
    </div>

    <div class="row buttonRow">
        <button disabled="true">Continue campagne</button>
    </div>

    <div class="row buttonRow">
        <a href="WorldBuilder">
            <button>Create world</button>
        </a>
    </div>
</div>



