@page "/"

<PageTitle>Home</PageTitle>

<h1 style="text-align:center; margin:auto">DnD Mapper</h1>

<div class="container m-1">
    <div class="row buttonRow" style="">
        <button disabled="true">Start campagne</button>
    </div>

    <div class="row buttonRow">
        <button disabled="true">Continue campagne</button>
    </div>

    <div class="row buttonRow">
        <a href="WorldBuilder">
            <button>Create world</button>
        </a>
    </div>
</div>



