@layout PlayingLayout
@page "/PlayerPage"
@using DndMapBlazor.Components.Bord.Player
@using DndMapBlazor.Models.SessionEntites

<div id="view" style="width:100%; height:100%;">
    @if (!isFullScreen)
    {
        <div class="row">
            <button @onclick="async x => await OpenInFullScreen()" class="btn btn-outline-primary" style="margin: auto; margin-bottom:10px; width:max-content">FullScreen</button>
        </div>
    }
    else if (command!.state == GameCommunicationState.Settings) 
    {
        @if (command!.Command == GameCommunicationCommand.SetupBord)
        { 
        <div style="margin:auto; background-color:white; padding:50px; border-radius:10px; width:fit-content; position:absolute; top:50%;left:50%;transform:translate(-50%, -50%);">
            <span> Measure this and write into dm page</span>
            <div style="width:100px; height:20px; background-color:black; margin:auto;"></div>
        </div>
        }
        <div style="margin:auto; background-color:black; border:1px solid white;width:100%;height:100%">
        </div>
    }
    else if (command!.state == GameCommunicationState.Running)
    {
        <PlayerBord session="session" events="events"></PlayerBord>
    }
</div>

