@using DndMapBlazor.Helper
@using DndMapBlazor.Models


@* Draw entities*@
@if (SessionGameMetaData!.DmImageWidth != 0 && SessionGameMetaData.DmImageHeight != 0)
{
    <div style="width:0px; height:0px; position:relative">
        @foreach (var entity in thisZone!.MapEntities)
        {
            <div class="mapEntity" style="position:absolute;left:@(entity.x*SessionGameMetaData.DmImageWidth)px;top:@(entity.y*SessionGameMetaData.DmImageHeight)px;" @onclick="x => ChangeMapEntityHandler(entity)">
                <svg stroke-linejoin="round" width="@(entity.width*SessionGameMetaData.DmImageWidth)" height="@(entity.height*SessionGameMetaData.DmImageHeight)">
                    @if (entity.points.Count > 0)
                    {
                        <polyline stroke-linejoin="round" points="@entity.points.Select(p => p.x*SessionGameMetaData.DmImageWidth + "," + p.y*SessionGameMetaData.DmImageHeight).Aggregate((x,y) => x + " " + y) @(entity.points[0].x*SessionGameMetaData.DmImageWidth + "," + entity.points[0].y*SessionGameMetaData.DmImageHeight)" stroke="black" stroke-width="1" fill="none" />
                    }
                </svg>
            </div>
        }
    </div>
}


