@using DndMapBlazor.Helper
@using DndMapBlazor.Models


@* Draw entities*@
@if (SessionGameMetaData.imageWidth != 0 && SessionGameMetaData.imageHeight != 0)
{
    <div style="width:0px; height:0px; position:relative">
        @foreach (var entity in thisZone.MapEntities)
        {
            <div class="mapEntity" style="position:absolute;left:@(entity.x*SessionGameMetaData.imageWidth)px;top:@(entity.y*SessionGameMetaData.imageHeight)px;" @onclick="x => ChangeMapEntityHandler(entity)">
                <svg stroke-linejoin="round" width="@(entity.width*SessionGameMetaData.imageWidth)" height="@(entity.height*SessionGameMetaData.imageHeight)">
                    @if (entity.points.Count > 0)
                    {
                        <polyline stroke-linejoin="round" points="@entity.points.Select(p => p.x*SessionGameMetaData.imageWidth + "," + p.y*SessionGameMetaData.imageHeight).Aggregate((x,y) => x + " " + y) @(entity.points[0].x*SessionGameMetaData.imageWidth + "," + entity.points[0].y*SessionGameMetaData.imageHeight)" stroke="black" stroke-width="1" fill="none" />
                    }
                </svg>
            </div>
        }
    </div>
}


