<div class="row">
    <button @onclick="StartGame" class="btn btn-outline-primary" style="margin: auto; margin-bottom:10px; width:max-content">Start session</button>
</div>

<div style="background-image:url(https://www.transparenttextures.com/patterns/textured-paper.png);background-size:400px; background-color:black;border-radius:10px;">
    <div style="border:5px solid black; border-radius:10px; height:80vh; padding:20px; overflow-x:auto; display:flex; width:100%; background-color:rgba(115,82,63,0.8); ">
        <div style="display:flex; width:90vw;">

            @* NewTab *@
            <div class="row" style="position:relative">
                <button @onclick="OpenUpPlayingTab" class="btn btn-primary" style="margin: auto; margin-bottom:10px; width:max-content">Open player tab</button>
            </div>

            @* Remove true *@
            <div class="row" style="@(!TabOpened && false ? "pointer-events: none; opacity: 0.4;" : ""); height:50px;" >
                <input type="number" min="0" @bind-value="SessionGameMetaData!.RealWorldScaling" />
                <button @onclick="SaveMesurmentUnit" class="btn btn-primary">Set length</button>
            </div>

            @* Camara *@
            <input type="checkbox" value="@SessionGameMetaData.UseCamara" @onchange="x => {SessionGameMetaData.UseCamara = (bool)x.Value; CamaraModalOpen = true;} " />

        </div>
    </div>
</div>

<div id="CamaraModal" class="modal" style="display:@(CamaraModalOpen ? "block" : "none" )">
  <div class="modal-content">
        <div>
            <div style="display:flex">
                <div style="position:relative; z-index:2;" id="CamaraVideo" >
                    <video id="videoFeed" width="640" height="480" />
                    <canvas class="d-none" id="currentFrame" width="640" height="480" /><br />
                    <svg style="position:absolute;left:0;top:0;" stroke-linejoin="round" width="640px" height="480px">
                        <polyline stroke-linejoin="round" points="@SessionGameMetaData.CamaraPoints.Select(p => p.x + "," + p.y).Aggregate((x,y) => x + " " + y) @(SessionGameMetaData.CamaraPoints[0].x + "," + SessionGameMetaData.CamaraPoints[0].y)" stroke="black" stroke-width="1" fill="none" />
                    </svg>                    
                    <div class="VideoDragPoint" draggable="true" @ondragend="x => DragPoint(x,0)" style="left:@(SessionGameMetaData.CamaraPoints[0].x)px; top:@(SessionGameMetaData.CamaraPoints[0].y)px"></div>
                    <div class="VideoDragPoint" draggable="true" @ondragend="x => DragPoint(x,1)" style="left:@(SessionGameMetaData.CamaraPoints[1].x)px; top:@(SessionGameMetaData.CamaraPoints[1].y)px"></div>
                    <div class="VideoDragPoint" draggable="true" @ondragend="x => DragPoint(x,2)" style="left:@(SessionGameMetaData.CamaraPoints[2].x)px; top:@(SessionGameMetaData.CamaraPoints[2].y)px"></div>
                    <div class="VideoDragPoint" draggable="true" @ondragend="x => DragPoint(x,3)" style="left:@(SessionGameMetaData.CamaraPoints[3].x)px; top:@(SessionGameMetaData.CamaraPoints[3].y)px"></div>
                </div>
            </div>
        </div>
    <button @onclick="x => CamaraModalOpen = false"> Close </button>
  </div>
</div>