.PlayerSheetName {
    width: 90%;
    margin: auto;
    border-radius: 5px;
    max-width: 300px
}

    .PlayerSheetName input {
        width: 100%;
        border: none;
        background: white;
        border-radius: 5px !important;
        filter: drop-shadow(0px 0px 1px gray);
        text-align: center;
        color: var(--col1)
    }

        .PlayerSheetName input:hover {
            border: 1px solid black !important;
            background-color: rgba(200,200,200);
            backdrop-filter: opacity(0.2);
            box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        }

        .PlayerSheetName input:focus {
            border: 1px solid black !important;
            background-color: white;
        }




@keyframes PaperFallAnim {
    0% {
       transform:translateY(-600px);
    }

    100% {
        transform: translateY(0);
    }
}

.playerSheet {
    padding: 20px 10px;
    scroll-snap-align: start;
    filter: drop-shadow(5px 5px 5px #000000);
    /*    line-height: 1.2rem;*/
}

.PlayerSheetPaper {
    animation-name: PaperFallAnim;
    animation-duration: 2s;
    animation-play-state: running;
    animation-timing-function: ease-out;
    clip-path: polygon( 1% 2%, 3.5% 0.1%, 8.9% 2.7%, 16.2% 1.2%, 19.7% 0.8%, 24.7% 2%, 31.2% 0%, 35.9% 2.3%, 40.6% 0.5%, 47.1% 1.8%, 49.9% 1%, 53.8% 2.5%, 62.2% 0.4%, 67.3% 1.2%, 70.3% 0.3%, 75.8% 1.4%, 78.5% 1.7%, 84% 2.6%, 91.1% 0.5%, 93.6% 2.4%, 97.3% 0.3%, 98.9% 6%, 98.1% 11.4%, 98.6% 15.5%, 97.3% 17.8%, 97.7% 27.4%, 98.3% 28.5%, 99.7% 34.1%, 98.8% 41.9%, 98.3% 45.7%, 98.4% 50.9%, 98.7% 57.4%, 99.6% 60.4%, 99.4% 66.6%, 99.2% 69.5%, 97.4% 77.1%, 98.1% 82.3%, 99.9% 83.5%, 98.2% 91.5%, 99.3% 95.3%, 98% 98.6%, 93.6% 97.4%, 90.3% 98.3%, 86.8% 98.3%, 78.6% 98.5%, 76.4% 99.2%, 69.7% 99.8%, 64.2% 99.3%, 61.8% 99.2%, 57.2% 98.1%, 48.7% 98.3%, 46.8% 99%, 39.6% 98.9%, 33.8% 97.3%, 28.2% 99.4%, 27% 98.3%, 22.1% 98.6%, 13.1% 97.1%, 8.7% 99.3%, 2.7% 97.4%, 2% 98.2%, 2.1% 94.3%, 0.7% 90.5%, 0.9% 86.3%, 2.2% 78.2%, 0.4% 76.7%, 1.2% 72.1%, 2% 64%, 1.4% 59.8%, 0.4% 57.3%, 0.3% 49.1%, 2.9% 44.7%, 1.9% 41.3%, 0.8% 35.7%, 2.9% 31.3%, 0.8% 24.9%, 2.7% 20.5%, 0.8% 17.4%, 2.5% 8.6%, 1.1% 5.5% );
    height: 100%;
    padding: 50px 10px;
    max-width: 400px;
    min-width: 300px;
    position: relative;
    background-color: var(--col5);
}


@keyframes PinInAnim {
    0% {        
        transform: scale(2,2) translateX(0px);
        visibility:visible;
    }

    50% {
        transform: scale(1.5,1.5) translateX(10px);
    }

    100% {
        transform: scale(1,1) translateX(0);
        visibility: visible;
    }
}
.pin {
    animation-name: PinInAnim;
    animation-duration: 0.5s;
    animation-delay: 1.9s;
    animation-play-state: running;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    visibility: hidden;

    width: 60px;
    height: 60px;
    margin: 0px auto -20px auto;
    rotate: -90deg;

    position:absolute;
    top:30px;
    left:calc(50% - 30px);
    z-index:100;
}



.playerSheet{transform: rotate(1deg);}
.playerSheet:nth-child(2n) {transform: rotate(-0.4deg);}
.playerSheet:nth-child(3n) {transform: rotate(-1deg);}
.playerSheet:nth-child(4n) {transform: rotate(0.6deg);}
.playerSheet:nth-child(5n) {transform: rotate(-0.2deg);}
.playerSheet:nth-child(6n) {transform: rotate(0.5deg);}

/* NOT USED ANYMORE
.CorckBordCard {
    background-image: url(https://www.transparenttextures.com/patterns/textured-paper.png);
    background-size: 400px;
    background-color: black;
    border-radius: 10px;
}

.CorckBordCardContainer {
    padding: 10px;
    border-radius: 10px;
    height: 80vh;
    padding: 20px;
    display: flex;
    width: 100%;
    background-color: rgba(115,82,63,0.8);
    position:relative;
}*/

.playerCardHolder {
    display: flex;
    width: 100%;
    max-height: 700px;
    min-height: 600px;
    margin: auto;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth
}


/*Arrows*/
.CaroselButton {
    background-color: white;
    width: 20px;
    text-align: center;
    border-radius: 6px 2px 2px 6px;
    cursor:pointer;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    margin-left: auto;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.body {
    background-image: none !important;
}