<div class="row">
    <button disabled="@(session.players.Count==0)" @onclick="x => session.state = Models.SessionEntites.SessionState.Settings" class="btn btn-outline-primary" style="margin: auto; margin-bottom:10px; width:max-content">Start session</button>
</div>
<div style="background-image:url(https://www.transparenttextures.com/patterns/textured-paper.png);background-size:400px; background-color:black;border-radius:10px;">
    <div style="border:5px solid black; border-radius:10px; height:80vh; padding:20px; overflow-x:auto; display:flex; width:100%; background-color:rgba(115,82,63,0.8); ">
        <div style="display:flex; width:90vw;">
            @* NewTab *@
            <div>
                <button @onclick="OpenUpPlayingTab" class="btn btn-outline-primary" style="margin: auto; margin-bottom:10px; width:max-content">Open player tab</button>
            </div>

            @* Camara *@
            <div>
            </div>
        </div>
    </div>
</div>